.container {
  max-width: 55%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.header {
  height: 128px;
  border-bottom: 2px solid #ebeefb;
  padding: 20px 40px;
}
.name {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 10px;
}
.online {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 auto;
  padding-left: 40px;
  padding-bottom: 20px;
  overflow: auto;
}

.footer {
  border-top: 2px solid #ebeefb;
  height: min(188px, 16vh);
  display: flex;
  padding: 20px;
}
.footer div {
  position: relative;
  margin: 0px;
  flex: 1 1 auto;
}
.footer .avatar {
  width: 70px;
  height: 70px;
}

.footer textarea {
  min-height: 70px;
  width: 100%;
  resize: none;
}

.avatarNearInput {
  max-width: 50px;
  height: 50px;
  margin-right: 20px !important;
  border-radius: 50px;
}

.sendButton {
  margin-top: 20px;
  margin-left: 40px;
  cursor: pointer;
}